//=========COLORS==============
$white: #fff;
$black: #000;
$blue: #023955;
$secondary: #f62;
$primary: #02537c;
$orange: #ff9c05;
$grey:grey;
$lightblue:#65b2d8;

.title{
    font-weight: 600;
    color: $blue;
    font-size: 2rem;
}
.sub-title{
    color: $blue;
    letter-spacing: 2px;
    font-size: 2rem;

}
/*==============================
       TOP-NAV
=================================*/
#top-nav{
    background-color: $blue;
    color: $white;
    ul li,a,span{
    color: $white;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
    }
    .dropdown-toggle{
        background-color: $orange;
        border-radius: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .dropdown-item{
        color: $black;
        text-transform: capitalize;
        font-weight: 500;
    }
    .discount{
        background-color: $orange;
        border-radius: 50px;
        padding:10px 15px;
    }
    .nav-right{
        position: relative;
    }
    .discount {
        background-color:$orange;
        color: $white;
        text-align: center;
        border-radius: 6px;
        position: relative;
        margin-right: 20px;
        z-index: 1;
        opacity: 1;
        transition: opacity 0.3s;
        &::after {
            content: "";
            position: absolute;
            top: 3%;
            left: 90%;
            margin-left: 10px;
            border-width: 18px;
            border-style: solid;
            z-index: 99;
            border-color:  transparent transparent transparent $orange;
          }
      }
      
}

/*==============================
       TOP-NAV
=================================*/
.motor-nav{
    .nav-link,.support{
        color: $blue !important;
    }
    
    .share,.call{
        background-color: $orange;
        padding: 10px 15px;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        border-radius: 50px;
        margin-right: 20px;
    }
    .call{
        background-color: $blue;
        margin-right: 0;
    }

}

/*==============================
     HERO SECTION
=================================*/
.hero{
    .container-fluid{
        margin: 0;
        padding: 0;
    }
    .caption{
        padding-top: 40px;
    }
    .container{
        padding-right: 0;
        margin-right: 0;
    }
    .form{
        position: relative;
        background-image: linear-gradient(to right, $lightblue, $blue);
        border-radius: 200px 0 0 200px;
        padding-left: 100px;
        margin: 20px 0;
        h5{
            text-transform: uppercase;
            color: $blue;
        }
        .col-6 .row{
            border-radius: 7px;
            box-shadow: 0 2px 4px $grey;
        }
        i{
            margin-top: 4px;
        }
    }
    .btn{
        background-color:$orange;
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        margin: 5px;
    }
    .image-right{
        position: absolute;
        top: -16%;
    }
}

/*==============================
     HERO SECTION
=================================*/
.banner{
    .sub-title{
        margin-left: 10px;
    }
    .slider-item{
        margin-right: 20px;
    }
    .slick-dots li button:before {
        font-size: 12px;
        color: $blue;
    }
}

/*==============================
     PARTNER SECTION
=================================*/
.partner{
    img{
        max-width: 60%;
    }
}