//=========COLORS==============
$white: #fff;
$black: #000;
$light-grey: rgb(145, 142, 142);
$grey: #625f5f;
$yellow: #ffc700;
$uncheck: #e2dfdf;
$red: #b51919;
$dark-red: #9b1e1e;
$border-color: #e5e5e5;
$blue: #023955;
$secondary: #f62;
$primary: #02537c;
$orange: #ff8c08;

//=======FONT FAMILY============
$roboto: "Roboto", sans-serif;
$pt-serif: "PT Serif", serif;
$lobster: "Lobster Two", cursive;
$pt-sans: "PT Sans", sans-serif;
$lato: "Lato", sans-serif;

@import "reset";

body {
  font-family: $roboto;
}

@mixin btn {
  background-color: $orange;
  border: 2px solid $orange;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  padding: 8px 40px;
  transition: 0.5s ease;
  border-radius: 50px;
  &:hover {
    background-color: $white;
    color: $orange;
  }
}

@mixin social-icon {
  i {
    background-color: $black;
    border: 2px solid $black;
    color: $white;
    border-radius: 50%;
    padding: 7px 7px;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      border: 2px solid $black;
      color: $black;
      background-color: $white;
    }
  }
  .fa-facebook-f {
    padding: 6px 8px;
  }
}

/*==============================
        GENERAL CSS
=================================*/
span,
p,
a {
  font-size: 12px;
}
h6 {
  font-size: 14px;
}
.rating {
  color: $uncheck;
  .checked {
    color: $yellow;
  }
}
input {
  &::placeholder {
    font-size: 12px;
  }
}
.sub-head {
  color: $light-grey;
  font-weight: bold;
  text-align: center;
}
.head {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
}
/*==============================
        TOPBAR SECTION
=================================*/
#topbar {
  background-color: $blue;
  color: $white;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 32px;
  .top-item {
    float: right;
    .top-links {
      color: $white;
      margin-right: 19px;
      text-align: center;
    }
    .social-icons i {
      color: $white;
      margin-right: 5px;
    }
  }
}

/*==============================
        HEADER SECTION
=================================*/
#header {
  background-color: $primary;
  h2 {
    font-size: 40px;
    font-family: $lobster;
    font-weight: bold;
    color: $white;
  }
  .nav-item:not(:last-child) {
    margin-right: 20px;
  }
  .nav-link {
    font-size: 14px;
    font-weight: 700;
    color: $white;
  }
  .support {
    color: $white;
    font-size: 14px;
    font-weight: 700;
  }
}

/*==============================
        HERO SECTION
=================================*/
#hero {
  .btn {
    @include btn;
  }
  .insurance {
    a {
      p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        color: $black;
      }
    }

    .insurance-item {
      border: 1px solid $border-color;
      padding: 10px 0;
      border-radius: 5px;
    }
  }

  .zipcode-tabs {
    box-shadow: 0 0 10px $border-color;
    border-radius: 8px;
    p {
      font-size: 14px;  
    }
    .nav-item {
      color: $black;
      font-weight: 500;
      font-size: 14px;
      &:hover {
        border-color: transparent;
      }
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background-color: transparent;
      border-color: transparent transparent $border-color;
      border-bottom: 3px solid $orange !important;
      font-size: 14px;
      font-weight: bold;
    }
    .btn {
      @include btn;
      padding: -1px 40px;
    }
  }
}

/*==============================
        BRANDS SECTION
=================================*/
.brand {
  background-color: $blue;
  .brands-item {
    a {
      color: $white;
      i {
        font-size: 50px;
        margin-right: 30px;
      }
    }
  }
}

/*==============================
          HOW IT WORKS
=================================*/
#work {
  position: relative;
  .work-item {
    margin-top: 30px;
  }
  ul {
    margin-top: 40px;
    h6 {
      font-size: 20px;
    }
    li {
      margin-bottom: 35px;
      list-style-type: none;
      &:before {
        content: "";
        position: absolute;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: $orange;
        margin: 5px 0 0 -30px;
      }
    }
    p {
      font-size: 14px;
    }
  }

  .read-btn {
    @include btn;
  }
  
  .slider-work {
    .slider-item {
      border: 1px solid $border-color;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    img {
      padding-left: 20px;
    }
    a {
      color: $black;
      &:focus {
        outline: none;
      }
      .price {
        font-size: 25px;
        font-weight: 600;
      }
      .month {
        color: $light-grey;
        font-size: 18px;
        font-weight: 500;
      }
      .title {
        font-size: 20px;
        font-weight: 400;
        margin-left: 10px;
      }
      .circle {
        padding-left: 12px;
        color: $uncheck;
        font-size: 6px;
        .checked {
          color: $yellow;
        }
        i {
          margin-right: 3px;
        }
      }
    }
  }
}
/*==============================
        COMPARE SECTION
=================================*/
#compare {
  .compare-item {
    i {
      font-size: 30px;
    }
  }
}

/*===============================================
        FREQUENTLY ASKED QUESTION SECTION
===============================================*/
#qna {
  .card {
    margin-bottom: 30px;
  }

  .btn:focus {
    outline: 0;
    box-shadow: 0 0 $white;
  }
  .btn-link {
    width: 100%;
    color: $black;
    text-decoration-line: none;
  }
  p {
    font-size: 14px;
  }
  .card-header {
    background-color: $white;
  }
  .card-body {
    font-size: 12px;
  }
  .read-btn {
    @include btn;
  }
}

/*==============================
        RIGHT PROTECTION
=================================*/
#protection {
  position: relative;
  .protect-item {
    margin-right: 10%;
  }
  .border-top {
    border-top: 3px solid $black !important;
    border-left: 3px solid $black;
    border-right: 3px solid $black;
    padding: 25px;
  }
  .border-bottom {
    border-bottom: 3px solid $black !important;
    border-left: 3px solid $black;
    border-right: 3px solid $black;
    padding: 25px;
  }
  .protect-title:after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #242424;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
  }
  .sub-head {
    text-transform: uppercase;
  }
  .read-btn {
    @include btn;
  }
}
/*==============================
        TESTIMONIAL SECTION
=================================*/
#testimonials {
  .testimonial-title {
    p {
      text-transform: uppercase;
      font-weight: 500;
      color: $grey;
    }
  }
  .slider-item {
    margin-right: 20px;
    &:focus {
      border: none;
      outline: none;
    }
    img {
      max-width: 70%;
      border-radius: 50%;
    }
    .name {
      font-size: 14px;
      font-weight: 600;
    }
    .id {
      font-weight: bold;
      color: $grey;
    }
    .rating {
      font-size: 12px;
      margin-top: 15px;
    }
  }
  .social-icons {
    text-align: right;
    margin-bottom: 10px;
    @include social-icon;
  }
}

/*==============================
     GET INSURANCE SECTION
=================================*/
#get-insurance {
  input:focus {
    box-shadow: 0 0 $white;
  }
  .btn {
    @include btn;
    border-radius: 0;
    padding: 5px 40px;
  }
}
/*==============================
        MEGAFOOTER  SECTION
=================================*/
#mega-footer {
  .footer-item {
    h6 {
      font-weight: bold;
    }
    .footer-list {
      a {
        color: $black;
        font-size: 12px;
        &:hover {
          color: $grey;
        }
      }
    }
    .follow {
      font-weight: bold;
      text-transform: capitalize;
    }
    i {
      margin-right: 10px;
    }
    .social-icons {
      @include social-icon;
    }
  }
}

/*==============================
       FOOTER
=================================*/
#footer {
  background-color: $blue;
  padding: 10px 40px;
  color: $white;
  font-weight: 600;
}

@import 'motor';